.idea
.venv\

config/.env
../.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env
*.env

# Config folder if it contains sensitive data
config/*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and local database
*.log
*.sqlite3

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json

# Pyre type checker
.pyre/

# Docker-related
*.pid
*.seed
docker-compose.override.yml

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db



